6.1 변수(Variable) 만들기

변수 이름 = 값
변수가 생성되는 동시에 값이 할당(저장)됩니다.

* 영문 문자와 숫자를 사용할 수 있습니다.
* 대소문자를 구분합니다.
* 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
* _(밑줄 문자)로 시작할 수 있습니다.
* 특수문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
* 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [12]:
x  = 10
x

10

In [13]:
s = 'Hello, world!'
s

'Hello, world!'

In [14]:
type(x), type(s)

(int, str)

6.2 변수로 계산

In [8]:
a = 10
b = a+ + 10       # a = a + 10
a

10

In [10]:
sum, prod = 0
for i in range(1,11):
    sum += 1
    prod *= i
sum, prod

TypeError: ignored

6.3 입력(input)

In [15]:
x = input()

x

In [16]:
x

'x'

In [ ]:
x = input ('1에서 10까지의 정수값')    #prompt

In [ ]:
# 입력한 두 정수의 합
a = input('첫번쨰 정수> ')
b = input('두번째 정수> ')
a+b

6.4 입력값 두개

In [ ]:
s.split()

In [ ]:
a, b = s.split()
a, b

map



*   리스트 각 엘리먼트에 지정한 함수를 적용

In [ ]:
a, b = map(int, [10.2, 11.4])
a, b

In [ ]:
a, b = map(int, input('정수의'))