Unit 10. **리스트**[]와 튜플() 사용하기

{} 딕셔너리, 세트
np(numpy) 에서는 []를 array
 pd

# 10.1 리스트 (list)
*   리스트 = [element, element, element]  리스트에 저장된 각 값 요소(element)

10.1.1 리스트에 여러 가지 자료형 저장하기
*   문자열, 정수, 실수, 불 등 모든 자료형 저장 가능

In [3]:
# 파이썬에서는 리스트 엘리먼트가 다른 자료형도 가능

person = ['james', 28, 167, True, [123, 45]]   # [] 안에 [] 사용 가능 but 반복문 X
person

['james', 28, 167, True, [123, 45]]

In [23]:
# 위의 person은 다음과 같은 딕셔너리로 변경하는 것을 권장함

person_dict = {'name' : 'James', 'age' : 28, 'height' : 167,
              'is female' : True, 'bp' : [120, 80] } 
person_dict

{'age': 28, 'bp': [120, 80], 'height': 167, 'is female': True, 'name': 'James'}

10.1.2 빈 리스트 만들기
빈 리스트 [] 만 지정하거나 list 사용하기

보통 빈 리스트를 만들어 놓은 뒤 새 값을 추가하는 방식으로 사용하며 리스트에 값을 추가하는 방법은 Unit22 리스트와 튜플 응용하기
*   리스트 = []
*   리스트 = list()

range


*   **range([시작숫자,] 끝나는 숫자+1 [,증가분])**

In [14]:
a = range(10)
a

range(0, 10)

In [15]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [18]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [25]:
# 10 에서부터 거꾸로 숫자를 입력할 때 , 증가분이 아닌 마이너스로 입력 , -1

list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

10.2 튜플(Tuple)

In [26]:
a = (38, 21, 27)
a

(38, 21, 27)

In [27]:
a = 38, 21, 47
a

(38, 21, 47)

In [29]:
person = ('James', 19, 167, True, [120, 80])
person

('James', 19, 167, True, [120, 80])

In [ ]:
a = tuple()    # 튜플은 변화를 줄 수 없기 때문에 빈튜플 사용이 안됨
a

In [31]:
# a는 정수
a = (38)
a

(0, 1, 2, 3, 4)

In [ ]:
# a는 튜플
a = (38,)
a

데이터 베이스에 값을 줄 때, 데이터 베이스 프로그램에서 튜플을 기대하는 항목이 있습니다. 
데이터 하나를 입력하고 싶을 때, (38,) 입력해주시면 오류 안남
딥러닝시, 2차원 3차원 사용시 튜플을 반드시 사용해야 되는 경우가 생김.
한 개의 ele에 ,를 붙여야 튜플이 된다.

In [32]:
tuple(range(5))

(0, 1, 2, 3, 4)

리스트 < - > 튜플

In [33]:
a = [1, 3, 4]       # ele가 아닌 변수여서 가능하다
b = tuple(a)
b

(1, 3, 4)

In [34]:
c = list(b)
c

[1, 3, 4]

In [36]:
x = 10
tuple(10,)

TypeError: ignored

### **문자열** tuple

In [37]:
# 문자열은 개별 코드 단위로 분해해서 사용가능
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [38]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

# 언팩킹(Unpacking)

In [40]:
# tuple unpacking
a = (1, 3, 4)
x, y, z = a
x, y, z

(1, 3, 4)

In [ ]:
# list unpacking

x, y, z = [1, 3, 5]
x, y, z